*{
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 768px){
    .celular{
        width: 100%;
        height: 100vh;
        background-color: #3CB371;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1279px){
    .desktop-01{
        width: 100%;
        height: 50vh;
        background-color: #8B008B;
    }

    .desktop-02{
        width: 100%;
        height: 50vh;
        background-color: #FFFF00;
    }
}

@media only screen and (min-width: 1280px){
    .tv-01{
        width: 100%;
        height: 20vh;
        background-color: 	#00BFFF;
    }

    .tv-02{
        width: 100%;
        height: 20vh;
        background-color: #EE82EE;
    }

    .tv-03{
        width: 100%;
        height: 20vh;
        background-color: #fff;
    }

    .tv-04{
        width: 100%;
        height: 20vh;
        background-color: #EE82EE;
    }

    .tv-05{
        width: 100%;
        height: 20vh;
        background-color: 	#00BFFF;
    }
}